# tasks file for locales
---
- name: install
  apt:
    name: locales
    state: latest
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags: [configuration, locales, locales-install]

- name: install (specified) language packs
  apt:
    name: "{{ item }}"
    state: latest
  with_items: "{{ locales_language_packs_present }}"
  when: ansible_distribution == 'Ubuntu'
  notify: update locales
  tags: [configuration, locales, locales-language-packs-present]

- name: remove (specified) language packs
  apt:
    name: "{{ item }}"
    state: absent
  with_items: "{{ locales_language_packs_absent }}"
  when: ansible_distribution == 'Ubuntu'
  notify: update locales
  tags: [configuration, locales, locales-language-packs-absent]

- name: detect locale gen file
  stat:
    path: "{{ locales_gen_file }}"
  register: locales_gen_file_stats
  tags: [configuration, locales, locales-gen-file]

- name: create locale gen file
  file:
    path: "{{ locales_gen_file }}"
    state: touch
  when: locales_gen_file_stats.stat.exists == false
  tags: [configuration, locales, locales-gen-file]

- name: make sure (specified) locales are present
  locale_gen:
    name: "{{ item }}"
    state: present
  with_items: "{{ locales_present }}"
  tags: [configuration, locales, locales-present]

- name: make sure (specified) locales are absent
  locale_gen:
    name: "{{ item }}"
    state: absent
  with_items: "{{ locales_absent }}"
  tags: [configuration, locales, locales-absent]

- name: set default locale
  template:
    src: etc/default/locale.j2
    dest: /etc/default/locale
    owner: root
    group: root
    mode: 0644
  tags: [configuration, locales, locales-default]
